.card {
    width: 30%;
    float: left;
}

.h1 {
    font-weight: bolder;
}

#header {
    padding-top: 50px;
}

#cardDiv {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 60px;
}

.card.text-center {
    padding-left: 10px;
    padding-right: 10px;
}

.textDiv {
    margin-top: 40px; 
    height:300px; 
    overflow-y: scroll;
}

.headlineDiv {
    height: 50px; 
    margin-top: 10px;
}
