<div id="header">
  <h1 style="text-align: center">Testsida för import från öppet API</h1><br>
  <p style="padding-left: 20%; padding-right: 20%; text-align: center;">Denna sida är skapad som ett exempel för att visa hur en användare skulle kunna hämta data från CSN:s öppna API och publicera på sin hemsida. 
    Varje "kort" nedan representerar ett meddelande som CSN:s kommunikatörer valt att publicera.</p>
</div>

<div id="cardDiv" >
  <div *ngFor="let message of apiResponse?.messages">
    <div class="card text-center" style="margin-left: 10px; margin-right: 10px; height: 500px;">
      <div class="card-body">
        <div class="headlineDiv">
          <h5 class="card-title">{{ message.headline }}</h5>
        </div>
        <div class="textDiv">
          <p class="card-text">{{ message.text }}</p>
        </div>
        <div style="margin-top: 20px">
          <a href="#" class="btn btn-primary">Länk till CSN</a>
        </div>
      </div>
    </div>
  </div>
</div>

