.h1 {
    font-weight: bolder;
}

#topNav {
    height: 33px;
    background-color: #484a46;
}

#topNavContent {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

#topNavLeftContent {
    float: left;
    padding-top: 3px;
    width: 400px;
    cursor: pointer;
}

#topNavRightContent {
    float: right;
    text-align: right;
    padding-top: 3px;
    width: 400px;
    cursor: pointer;
}

#midNav {
    height: 105px;
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: #cdd1c7;
}

#midNavContent {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

#midNavLeftContent {
    float: left;
    width: 350px;
    padding-top: 28px;
}

#midNavMidContent {
    float: left;
    width: 290px;
    height: 86px;
}

#midNavRightContent {
    float: right;
    width: 350px;
    position: relative;
}

#bottomNav {
    height: 50px;
}

#bottomNavContent {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

#bottomNav2 {
    height: 170px;
    background-color: #f9f7f6;
}

#bottomNav2Content {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

#contentDiv {
    background-color: #f9f7f6;
    width: 100%;
    height: 2000px;
}

#cardDiv {
    background-color: #f9f7f6;
    position: relative;
    margin: 0 auto;
    width: 1260px;
}

.card {
    width: 400px;
    height: 500px;
    float: left;
    background-color: #f9f7f6;
    border-radius: 0 !important;
    margin-bottom: 30px !important;
}

.card.text-center {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f7f6;
}

.card-title {
    margin: 0px;
}

.textDiv {
    margin-top: 10px; 
    height:320px; 
    overflow-y: scroll;
    overflow: auto;
}

.headlineDiv {
    height: 70px; 
    position: relative;
}

.btn-primary {
    background-color: #c1daf3 !important; 
    color: #484a46 !important; 
    border-style: none; 
    font-weight: bold;
    border-radius: 0 !important;
}

.center-vertically {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%, -50%);
    width: 300px;
}


