<head>

</head>

<body>
  <div id="topNav">
    <div id="topNavContent">
      <div id="topNavLeftContent">
        <p style="color: white">Student &nbsp; &nbsp; Medarbetare &nbsp; &nbsp; Biblioteket</p>
      </div>
      <div id="topNavRightContent">
        <p style="color: white;">Favoriter &nbsp; &nbsp; Lättläst &nbsp; &nbsp; Language</p>
      </div>
    </div>
  </div>

  <div id="midNav">
    <div id="midNavContent">
      <div id="midNavLeftContent">
        <img src="../assets/menu.png" style="width: 90px; height: 30px; cursor: pointer;">
      </div>
      <div id="midNavMidContent">
        <img src="../assets/miun_logo.png" style="width: 55%; height: 90%; display: block; margin: auto; padding-top: 5px; cursor: pointer;">
      </div>
      <div id="midNavRightContent">
        <img src="../assets/search.png" style="width: 85%; height: 80%; float: right; padding-top: 25px; cursor: pointer;">
      </div>
    </div>
  </div>

  <div id="bottomNav">
    <div id="bottomNavContent">
      <p style="color: #0d58a3; padding-top: 10px; display: inline-block; cursor: pointer;">Start</p>
      <p style="display: inline-block; cursor: pointer;">&nbsp; > &nbsp; Student &nbsp; > Info från CSN</p>
    </div>
  </div>

  <div id="bottomNav2">
    <div id="bottomNav2Content">
      <img src="../assets/menu2.png" style="width: 100%; height: 90px; margin-top: 40px; cursor: pointer;">
    </div>
  </div>

  <div id="contentDiv">
    <div style="text-align: center; margin-bottom: 30px;">
      <h1 style="display: inline-block;">Info från CSN</h1>
      <img src="../assets/csnlogo.svg" style="display: inline-block; height: 70px; width: 70px; padding-bottom: 30px;">
    </div>
    
    <div id="cardDiv">
      <div *ngFor="let message of apiResponse?.messages">
        <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="margin-left: 10px; margin-right: 10px; padding-top: 0px !important;">
          <div class="card-body">
            <div class="headlineDiv">
              <div class="center-vertically">
                <h5 class="card-title">{{ message.headline }}</h5>
              </div>
            </div>
            <div class="textDiv">
              <p class="card-text">{{ message.text }}</p>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px">
              <a [href]="message.hyperlink" class="btn btn-primary">Länk till CSN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


